.accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
        border-radius: 20px;
        background-color: $white;
        box-shadow: 9px 10px 30px 0px rgba(204, 204, 204, 0.21);
        padding: 15px 20px;

        @include tablet {
          padding: 15px 30px;
        }
        // &.active {
        //     border-radius: 20px;
        // }

        &--price {
            padding: 10px;

            @include tablet {
                padding: 15px 30px;

                &.active {
                    padding: 30px;
                }
            }
        }
    }

    &__head {
        position: relative;
        gap: 12px;
        z-index: 100;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $font-grey-color;

        &.active {
            color: initial;
        }

        &--price {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr 15px;
            gap: 12px;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 15px;
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;

        &--price {
            font-weight: 400;
            color: $font-color;
            font-size: 13px;
        }

        &--contacts {
            font-weight: 400;
            color: $font-color;
            gap: 10px;

            @include tablet {
                gap: 20px;
            }
        }

        @include desktop {
            font-size: 18px;
            gap: 20px;
        }

        @media (min-width: 1920px) {
            font-size: 24px;
        }

        img {
            width: 20px;
            height: 20px;

            @include tablet {
              width: 30px;
              height: 30px;
          }

            @include desktop {
              width: 25px;
              height: 25px;
          }
        }

        &-icon {
            width: 20px;
            height: 20px;
            min-width: 20px;
            display: flex;

            @include desktop {
                width: 25px;
                height: 25px;
                min-width: 25px;
            }

            @media (min-width: 1920px) {
                width: 30px;
                height: 30px;
                min-width: 30px;
            }
        }
    }

    &__content {
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease-in-out;

        &-list {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-top: 20px;
            max-width: 95%;
            font-size: 14px;

            @include desktop {
              font-size: 16px;
            }

            @media (min-width: 1920px) {
              font-size: 16px;
            }

            // @include largeMob {
            //     font-size: 20px;
            // }

            @media (min-width: 1920px) {
                font-size: 24px;
            }

            &--price {
                max-width: 100%;
                gap: 0;
                font-weight: 600;
                font-size: 13px;

                @include tablet {
                    font-size: 16px;
                }

                @media (min-width: 1920px) {
                    font-size: 24px;
                }
            }

            &--contacts-general {
                padding-top: 30px;

                @include tablet {
                    gap: 20px;
                }
            }
        }

        &-item {
            display: flex;
            gap: 10px;

            @media (min-width: 1920px) {
              gap: 15px;
            }

            &-title {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            &--price {
                display: grid;
                grid-template-columns: 3fr 1fr 1fr 15px;
                gap: 12px;
                align-items: center;
                padding: 17px 0;
                border-bottom: 2px solid $light-grey;

                @media (min-width: 1920px) {
                  border-width: 3px;
                }

                &:first-child {
                    border-top: 2px solid $light-grey;

                    @media (min-width: 1920px) {
                      border-width: 3px;
                    }
                }
            }

            &--contacts-general {
                flex-direction: column;

                .link {
                    font-size: 16px;
                    @include tablet {
                        font-size: 24px;
                    }
                }

                @include tablet {
                    display: grid;
                    grid-template-columns: 1fr 2.2fr;
                }

                @include desktop {
                    display: grid;
                    grid-template-columns: 1.5fr 4fr;
                }
            }

            &-contacts-general {
                display: flex;
                gap: 15px;
            }
        }

        &-icon {
            width: 20px;
            height: 20px;

            @media (min-width: 1920px) {
              width: 30px;
              height: 30px;
            }

            &--contacts-general {
                width: 20px;
                height: 20px;

                @include tablet {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        &--contacts-general {
            display: flex;
            flex-direction: column;
            gap: 30px;

            @include desktop {
                display: grid;
                grid-template-columns: 1fr 400px;
                align-items: center;
            }
        }
    }

    &__icon {
        width: 12px;
        min-width: 12px;
        height: 2px;
        border-radius: 15px;
        background-color: $primary;
        position: relative;

        @media (min-width: 1920px) {
          width: 15px;
          min-width: 15px;
          height: 3px;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: $primary;
            position: absolute;
            inset: 0;
            rotate: (90deg);
            border-radius: 15px;
            transition: rotate linear 0.2s;

            .active & {
                rotate: (0deg);
            }
        }
    }

    &__icon-info {
        width: 18px;
        height: 18px;
        display: inline-flex;
        cursor: pointer;

        @media (min-width: 1920px) {
          width: 24px;
          height: 24px;
        }
    }
}
