.header {
    //padding-top: 32px;
    padding-top: 20px;
    position: sticky;
    top: 0;
    z-index: 150;
    width: 100%;
    transition: padding linear 0.3s;

    //@include largeMob {
    //    padding-top: 30px;
    //}

    @include tablet {
        padding-top: 20px;
    }

    @include laptop {
        position: fixed;
        top: 0;
    }

    @include desktop {
        padding-top: 50px;
    }

    &--fixed {
        background-color: $white;
        //padding: 25px 0;
        padding: 15px 0;
        box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.75);

        @include laptop {
            padding: 15px 0;
        }

        @include desktop {
            padding: 25px 0;
        }
    }

    &__wrap {
        // display: grid;
        // grid-template-columns: repeat(6, 1fr);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @include laptop {
            display: flex;
            gap: 30px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 16px;

        @include laptop {
            gap: 32px;
        }
    }

    &__burger-menu {
        // margin-left: auto;
        // grid-column: 6 / 7;

        @include laptop {
            // grid-column: 4 / 5;
        }

        @include laptop {
            display: none;
        }
    }

    &__languages {
        display: none;

        @include laptop {
            display: flex;
        }
    }

    &__button-mail {
        display: none;

        @include laptop {
            width: max-content;
            display: inline-flex;
        }
    }

    &__nav-button {
        position: relative;
        display: none;

        cursor: pointer;

        @include laptop {
            width: max-content;
            display: inline-flex;
        }

        &::after {
            content: "";
            width: 100%;
            height: 10px;
            position: absolute;
            top: 100%;
            left: 0;
        }

        &:hover .navigation {
            opacity: 1;
            visibility: visible;
            filter: blur(0px);
        }

        &:hover {
            .header-nav-button__icon {
                rotate: (180deg);
            }
        }
    }

    &__contacts {
        display: flex;
        gap: 15px;
        grid-column: 3 / 6;

        &-dropdown {
            opacity: 0;
            filter: blur(8px);
            visibility: hidden;
            //opacity: 1;
            //filter: blur(0);
            //visibility: visible;
            transition: all ease-in-out 0.2s;
            position: absolute;
            top: 20px;
            right: -40px;
            background-color: $white;
            box-shadow: 9px 10px 30px 0px rgba(204, 204, 204, 0.21);
            border-radius: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            width: max-content;
            gap: 8px;
            z-index: 10;

            @include laptop {
                left: -40px;
                right: auto;
                // border-radius: 40px;
                padding: 20px;
                gap: 12px;
            }

            @include desktop {
                left: -40px;
                right: auto;
                border-radius: 40px;
                padding: 40px;
                gap: 12px;
            }
        }

        &-item {
            position: relative;

            &:hover {
                .header__contacts-dropdown {
                    opacity: 1;
                    visibility: visible;
                    filter: blur(0);
                    top: 0;
                }
            }
        }

        &-link {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;

            @include hover("color", $primary);

            @include laptop {
                gap: 5px;
            }

            @include desktop {
                gap: 15px;
            }
        }

        //&-dropdown-wrap {
        //    &:hover {
        //        .header__contacts-geo-list {
        //            display: flex;
        //        }
        //    }
        //}

        &-text {
            display: none;
        }

        &-img-phone,
        &-img-geo {
            //width: 40px;
            //height: 40px;
            //min-width: 40px;

            // width: 30px;
            // height: 30px;
            // min-width: 30px;

            width: 25px;
            height: 25px;
            min-width: 25px;

            @include laptop {
                width: 25px;
                height: 25px;
                min-width: 25px;
            }

            @include desktop {
                width: 30px;
                height: 30px;
                min-width: 30px;
            }
        }

        &-geo {
            position: relative;
            cursor: pointer;

            @include tablet {
                .header__contacts-text {
                    display: block;
                }
            }

            &-arrow {
                //position: absolute;
                //right: 0;
                width: 14px;
                height: 8px;
                margin-left: 20px;

                @include desktop {
                    width: 18px;
                    height: 12px;
                }

                .active & {
                    margin-left: auto;
                    transform: rotate(180deg);
                }
            }

            &-list {
                //display: flex;
                display: none;
                flex-direction: column;
                margin: 10px 0;
                gap: 10px;
                padding: 10px 0;
                border-bottom: 1px solid $light-grey;
                border-top: 1px solid $light-grey;

                a:hover {
                    color: $primary;
                }
            }

            &.active + .header__contacts-geo-list {
                display: flex;
            }
        }

        &-phone {
            @include laptop {
                .header__contacts-text {
                    display: block;
                }
            }
        }

        @include largeMob {
            display: flex;
            align-items: center;
            gap: 30px;
            // margin-left: auto;
            // grid-column: 4 / 6;
        }

        //@include laptop {
        //    display: none;
        //}

        // @include laptop {
        //     display: flex;
        //     grid-column: none;
        // }

        @include laptop {
            gap: 15px;
        }

        @include desktop {
            gap: 30px;
        }
    }
}
