.header {
    padding-top: 32px;
    position: sticky;
    top: 0;
    z-index: 150;
    width: 100%;
    transition: padding linear 0.3s;

    @include largeMob {
        padding-top: 30px;
    }

    @include tablet {
        padding-top: 50px;
    }

    @include desktop {
        position: fixed;
        top: 0;
    }

    &--fixed {
        background-color: $white;
        padding: 25px 0;
        box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.75);
    }

    &__wrap {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        position: relative;

        @include laptop {
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
        }

        @include desktop {
            display: flex;
        }
    }

    &__burger-menu {
        margin-left: auto;
        grid-column: 6 / 7;

        @include laptop {
            grid-column: 4 / 5;
        }

        @include desktop {
            display: none;
        }
    }

    &__languages {
        display: none;

        @include desktop {
            display: flex;
        }
    }

    &__button-mail {
        display: none;

        @include laptop {
            width: max-content;
            display: inline-flex;
        }
    }

    &__nav-button {
        position: relative;
        display: none;

        cursor: pointer;

        @include desktop {
            width: max-content;
            display: inline-flex;
        }

        &::after {
            content: "";
            width: 100%;
            height: 10px;
            position: absolute;
            top: 100%;
            left: 0;
        }

        &:hover .navigation {
            display: block;
        }
    }

    &__contacts {
        display: none;

        &-link {
            display: flex;
            align-items: center;
            gap: 15px;
            flex-shrink: 0;
        }

        &-text {
            display: none;
        }

        &-img-geo {
            @include tablet {
                width: 30px;
                height: 30px;
            }
        }

        &-img-phone {
            @include tablet {
                width: 27px;
                height: 27px;
            }
        }

        &-geo {
            @include tablet {
                .header__contacts-text {
                    display: block;
                }
            }
        }

        &-phone {
            @include desktop {
                .header__contacts-text {
                    display: block;
                }
            }
        }

        @include largeMob {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-left: auto;
            grid-column: 4 / 6;
        }

        @include laptop {
            display: none;
        }

        @include desktop {
            display: flex;
            grid-column: none;
        }
    }
}
