.header-nav-button {
    display: inline-flex;
    gap: 30px;
    align-items: center;
    padding: 12px 20px;
    background-color: $white;
    box-shadow: 9px 10px 30px 0px rgba(204, 204, 204, 0.21);
    border-radius: $btn-border-radius;
    line-height: 27px;
    margin-left: auto;

    @media (min-width: 1920px) {
      padding: 15px 30px;
      gap: 50px;
    }

    &__icon {
        transform-origin: center;
        transition: all ease-in-out 0.2s;
    }
}
