.header-nav-button {
    display: inline-flex;
    gap: 50px;
    align-items: center;
    padding: 15px 30px;
    background-color: $white;
    box-shadow: 9px 10px 30px 0px rgba(204, 204, 204, 0.21);
    border-radius: $btn-border-radius;
    line-height: 27px;
}
