.languages {
    display: flex;
    gap: 10px;
    align-items: center;

    @include desktop {
        gap: 15px;
    }

    &__link {
        color: $font-grey-color;

        &--active {
            color: $font-color;
        }
    }

    &__border {
        width: 1px;
        height: 18px;
        display: block;
        background-color: $grey;
    }
}
