.logo {
    display: inline-flex;
    // width: 165px;
    // height: 40px;

    width: 145px;
    height: 34px;

    @include tablet {
        width: 154px;
        height: 36px;
    }

    @include desktop {
        width: 194px;
        height: 47px;
    }

    &--large {
        width: 181px;
        height: 45px;

        @include laptop {
            height: 75px;
            width: 301px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}
