.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    background-image: url("./../img/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 50%;
    color: $font-color;

    &:after {
        content: "";
        width: 20px;
        height: 10px;
        background: url("./../img/icons/arrow.svg") no-repeat;
        background-size: contain;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
    }
}
