.footer {
    //padding: 30px 20px;
    padding: 30px 0;
    background-color: $grey-2;
    //font-size: 22px;
    font-size: 14px;
    line-height: normal;

    @include largeMob {
        padding: 50px 0;
    }

    @include laptop {
        padding: 100px 0 40px;
        // font-size: 18px;
        font-size: 16px;
    }

    @include desktop {
        font-size: 22px;
    }

    &__top {
        display: none;

        @include laptop {
            display: flex;
            gap: 30px;
            padding-bottom: 40px;

            @include laptop {
                gap: 100px;
            }
        }
    }

    &__logo {
        display: flex;
        width: 154px;
        height: 36px;

        @include desktop {
            width: 301px;
            height: 75px;
        }
    }

    &__nav {
        display: flex;
        gap: 30px;

        @include laptop {
            gap: 66px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 12px;

            @include desktop {
                gap: 15px;
            }
        }

        // &-title {
        //     margin-bottom: 5px;
        // }

        a {
            @include hover("color", $primary);
        }
    }

    &__bottom {
        border-top: 1px solid $light-grey;
        padding-top: 20px;

        @include tablet {
            padding-top: 40px;
        }

        @include desktop {
            border-top: 2px solid $light-grey;
        }
    }
}
