.hero-screen {
    padding-top: 30px;

    @include tablet {
        padding-top: 50px;
    }

    @include desktop {
        padding: 208px 0 100px;
        border-radius: 0px 0px 40px 40px;
        background: linear-gradient(78deg, #dceafe 0.64%, #f2f8f2 54.29%, #eaf4e9 98.07%);
        box-shadow: 9px 10px 30px 0px rgba(204, 204, 204, 0.21);
    }

    &__wrap {
        padding: 20px;
        background: linear-gradient(78deg, #dceafe 0.64%, #f2f8f2 54.29%, #eaf4e9 98.07%);
        box-shadow: 9px 10px 30px 0px rgba(204, 204, 204, 0.21);
        border-radius: 20px;

        @include largeMob {
            padding: 50px 20px;
        }

        @include tablet {
            padding: 40px;
            border-radius: 40px;
        }

        @include desktop {
            padding: 0;
            background: none;
            box-shadow: none;
        }

        &--with-carousel {
            display: flex;
            flex-direction: column-reverse;
            gap: 30px;

            @include tablet {
                flex-direction: column;
            }

            @include desktop {
                display: grid;
                gap: 20px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__heading {
        &--mob {
            @include tablet {
                display: none;
            }
        }

        &--tablet {
            display: none;

            @include tablet {
                display: block;
            }
        }
    }

    &__sub-title {
        max-width: 535px;

        &--tablet {
            display: none;

            @include tablet {
                display: block;
                max-width: 100%;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include tablet {
            display: none;
        }

        @include desktop {
            display: flex;
            flex-direction: row;
        }

        &--column {
            flex-direction: column;
            display: flex;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__item-icon {
        width: 30px;
        height: 30px;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 28px;

        @include tablet {
            flex-direction: row;
        }
    }

    &__sale {
        display: none;

        @include largeMob {
            display: block;
        }

        &-short {
            @include largeMob {
                display: none;
            }
        }
    }

    &__picture {
        padding-top: 30px;

        @include desktop {
            padding: 0;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    &__img {
        width: 100%;
    }

    &__slide {
        padding: 0 30px;

        @include largeMob {
            padding: 0 50px;
        }

        @include tablet {
            padding: 0;
        }
    }
}
