.locations {
    padding: 10px 0 50px;

    @include tablet {
        padding: 40px 0 50px;
    }

    @include laptop {
        padding: 60px 0 100px;
    }

    &__grid {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }

    &__map {
        width: 100%;
        height: 300px;

        &::after {
            content: "map";
        }

        @include tablet {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }
    }

    &__heading,
    &__accordion {
        grid-column: 2 / 3;
    }
}
