.models {
    padding-top: 50px;

    @include laptop {
        padding-top: 100px;
    }

    &__title {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include laptop {
            flex-direction: row;
            gap: 30px;
        }
    }

    &__info {
        font-size: 14px;
        padding: 8px 16px;
        background: linear-gradient(78deg, #dceafe 0.64%, #f2f8f2 54.29%, #eaf4e9 98.07%);
        border-radius: 40px;
        width: max-content;

        @include laptop {
            font-size: 16px;
            padding: 10px 30px;
        }

        @include desktop {
            font-size: 24px;
        }
    }

    &__heading {
        margin-bottom: 30px;
    }

    &__list {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__btn {
        padding: 8px 20px;
        position: relative;
        transition: all linear 0.3s;
        border-radius: 40px;
        font-size: 14px;

        @include laptop {
            padding: 10px 30px;
            font-size: 16px;
        }

        &.selected {
            color: $font-color;
            background: linear-gradient(78deg, #dceafe 0.64%, #f2f8f2 54.29%, #eaf4e9 98.07%);
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 40px;
        }

        @include laptop {
            grid-template-columns: repeat(4, 1fr);
        }

        @include laptop {
            // row-gap: 30px;
            // column-gap: 30px
            gap: 50px;
        }

        @include desktop {
            // column-gap: 30px
        }
    }

    &__content {
        &.hidden {
            display: none;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        @include laptop {
            gap: 20px;
        }

        &-title {
            text-align: center;
        }
    }

    &__actions {
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }
}
