* {
    box-sizing: border-box;
}

html,
body {
    min-width: 360px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    //line-height: normal;
    color: $font-color;
    background-color: $dark-white;

    &.overflow {
        overflow: hidden;
    }
}

.w-100 {
    width: 100%;
}
