//  headings
.h1 {
    font-size: 36px;
    font-weight: 600;

    @include largeMob {
        font-size: 48px;
    }

    @include tablet {
        font-size: 64px;
    }
}

.h2 {
    font-size: 30px;
    font-weight: 700;

    @include largeMob {
        font-size: 32px;
    }

    @include tablet {
        font-size: 36px;
    }
}

.h3 {
    font-size: 24px;
    font-weight: 700;

    @include largeMob {
        font-size: 30px;
    }

    @include tablet {
        font-size: 36px;
    }
}

// need to check headings from h4 to end

.h4 {
    font-size: 24px;
    font-weight: 700;

    @include tablet {
        font-size: 30px;
    }
}

.h5 {
    font-size: 22px;
    font-weight: 600;

    @include tablet {
        font-size: 24px;
    }
}

.h6 {
    font-size: 20px;
    font-weight: 600;

    @include tablet {
        font-size: 24px;
    }
}

.h7 {
    font-size: 18px;
    font-weight: 600;

    @include tablet {
        font-size: 24px;
    }
}

.h8 {
    font-size: 16px;
    font-weight: 600;

    @include tablet {
        font-size: 24px;
    }
}

//  paragraphs
.p1 {
    font-size: 24px;
}

.p2 {
    font-size: 22px;

    &--600 {
        font-weight: 600;
    }

    @include tablet {
        font-size: 24px;
    }
}

.p3 {
    font-size: 20px;

    @include tablet {
        font-size: 24px;
    }
}

.p4 {
    font-size: 18px;

    &--600 {
        font-weight: 600;
    }

    @include tablet {
        font-size: 24px;
    }
}

.p5 {
    font-size: 16px;

    @include tablet {
        font-size: 24px;
    }
}

.p6 {
    font-size: 13px;

    @include tablet {
        font-size: 24px;
    }
}

.p7 {
    font-size: 22px;

    &--500 {
        font-weight: 500;
    }
}

.p8 {
    font-size: 18px;

    @include tablet {
        font-size: 22px;
    }
}

.p9 {
    font-size: 16px;
    font-weight: 500;

    @include tablet {
        font-size: 22px;
    }
}

.p10 {
    font-size: 16px;

    @include tablet {
        font-size: 20px;
    }
}

.semi-bold {
    font-weight: 600;
}

.text-uppercase {
    text-transform: uppercase;
}

.font-primary {
    color: $font-primary-color;
}

.font-grey {
    color: $font-grey-color;
}

.text-center {
    text-align: center;
}
